.header {
    background-color: var(--color-dark);

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 112px;

        @include tablet {
            min-height: 84px;
        }
    }

    &__logo {
        &-title {
            font-weight: 900;
            line-height: 1.5;
            color: var(--color-accent);
            @include fluid-text(28, 22);
        }
        
        &-description {
            font-weight: 900;
            font-size: 20px;
            line-height: 1.5;
            text-transform: lowercase;
            margin-top: -10px;
            @include fluid-text(20, 16);
        }
    }

    &__list {
        display: flex;
        column-gap: 32px;
    }

    &__item {
        @include hover {
            color: var(--color-accent);
        }
        font-weight: 700;
        font-size: 18px;
        line-height: 1.2;
    }

    &__burger-button {
        background-color: transparent;
        border: none;

        svg {
            color: var(--color-light);
        }
    }
}

.is-current {
    color: var(--color-accent);
    text-decoration: underline;
    text-decoration-skip-ink: none;
}