:root {
    --color-light: #fff;
    --color-dark: #010;
    --color-dark-alt: #222;
    --color-dark-footer: #181818;
    --color-accent: #4f8ff0;
    --color-gray: #e6e6e6;
    --color-gray-alt: #2C2C2C;

    --button-heigth: 49px;

    --container-width: 1320px;
    --container-padding-x: 50px;

    --font-family-base: 'Nunito Sans', sans-serif;

    --transition-duration: 0.2s;
}